.paginaAnunciar{
    margin-bottom: 250px;
}

.hero{
    text-align: center;
    margin-top: 70px;
}

.hero h3{
    letter-spacing: 3px;
    font-family: 'Poppins-light';
    font-weight: 200;
    font-size: 18px;
    margin-bottom: -10px;
}

.tituloHero{
    font-family: 'Poppins-medium';
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.5px;
}

.tituloHero span{
    font-family: 'Poppins-light';
    font-weight: 100;
    font-style: italic;
    font-size: 60px;
    color: var(--color-text-dark);
    position: relative;
    z-index: 1;
}

.retangulo{
    width: 380px;
    height: 70px;
    background-color: var(--color-accent);
    position: relative;
    margin: 0 auto;
    z-index: 0;
    top: -115px;
}

.textoHero{
    font-size: 19px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: -50px;
}

.textoHero span{
    font-family: 'Poppins-bold';
}

