  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <title><%= titulo %></title>
  <link rel="shortcut icon" href="/assets/images/Logo sem fundo.png" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
